
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Helvetica Neue","Open Sans";
    background-color:#07073a;
}

button{

  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 2px;
}

button:focus {
  outline:0;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    decoration:none;
}

p{
}

.row.vertical-align{

  display: flex;
  align-items: center;

}

/*
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.col-vert{

  display: flex;
  align-items: center;
  justify-content: center;

}

.divider{

  border-left: 1px solid grey;
  height: 100px;

}

.side-div{

  background-color:yellow;


}

.row{

}

.semi-hr{

  display: inline-block;
  height:2px;
  width:50px;
  margin-bottom: 10px;
  background-color: black;
}

.fa{

  z-index: 1;
  text-decoration: none;
  padding: 20px;
  margin-left:7px;
  margin-right:7px;
  text-align: center;
  font-size: 30px;
  color: white;
  width:70px;
  border-radius:5%;
}

.fa:hover{

  text-decoration:none;
  color: white;
  opacity:0.75;
}
.fa-facebook{

  background-color:#3B5998;
}

.fa-youtube{

  background-color: #bb0000;

}

.fa-linkedin{

  background-color: #007bb5;

}

.fa-google{

  background-color: #dd4b39;
}

.fa-github{

  background-color: #24292e;
}

.text-container{

  margin:auto;
  font-size: 20px;
}

#text-container-2{

  width:100%;
}
.project-container{

  vertical-align: top;
  display: inline-block;
  width:400px;
  height: 400px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  border-radius: 5%;
  box-shadow:0 10px 16px 0 rgba(11, 58, 132,0.2),0 6px 20px 0 rgba(11, 58, 132,0.19);
  text-align: center;
  margin-bottom: 30px;
  position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.project-img{

  width:100%;
  height:62.5%;
  border-bottom: 1px solid black;
  transition: all .5s linear;
}


.project-desc-container{

  width: 100%;
  height: 37.5%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.project-desc{

margin:auto;

}

.blog-container{

  vertical-align: top;
  display: inline-block;
  width:400px;
  height: 400px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  box-shadow:0 10px 16px 0 rgba(11, 58, 132,0.2),0 6px 20px 0 rgba(11, 58, 132,0.19);
  border-radius: 5%;
  text-align: center;
  margin-bottom: 30px;
  position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.blog-img{

  width:100%;
  height:62.5%;
  border-bottom: 1px solid black;
  transition: all .5s linear;

}

.blog-desc-container{

  width: 100%;
  height: 37.5%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.blog-desc{

margin:auto;

}

.tint-div-img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(51,59,66,0.75);
  opacity: 0;
  transition: all .25s linear;
  z-index:2;
  display:flex;
  align-items: center;
  text-align: center;
  border-radius:5%;
}

.tint-div-img:hover{

  opacity:1;
  cursor: pointer;
}

.small-width{

  width:65%;
}


#proj-cont-1{

  background-image: url("../media/jtextedit.png");
  background-position:left center;
}

#proj-cont-2{

  background-image: url("../media/comebackking.png");
}

#proj-cont-3{

  background-image: url("../media/alex-sunglasses.jpg");
}

#blog-cont-1{

  background-image: url("../media/alex-sunglasses.jpg");
}

#blog-cont-2{

  background-image: url("../media/alex-sunglasses.jpg");
}

#blog-cont-3{

  background-image: url("../media/alex-sunglasses.jpg");
}
#social-media{
  padding-top:10px;
  padding-bottom:10px;
}

#copyright{

  padding:10px;
  padding-top:10px;
  display: block;
  font-size:17px;
}

#copyright a{

  text-decoration:none;
}

#about-row-1{

  background-color: #eee;
  width: 100%;
  padding-top:50px;
  padding-bottom:30px;
  color:black;
}

#about-row-2{

  background-color: #eee;
  width: 100%;
  padding-top:30px;
  padding-bottom:50px;
  color:black;
}

#about-row-3{

  background-color: #eee;
  width: 100%;
  padding-top:30px;
  padding-bottom:70px;
  color:black;
  overflow:hidden;
}




#home-row-1{

  background-color: #eee;
  width: 100%;
  padding-top:70px;
  padding-bottom:50px;
  color:black;
}

#home-row-2{

  background-color: #eee;
  width: 100%;
  padding-top:70px;
  padding-bottom:50px;
  color:black;
}

#home-row-3{
  #f2f3f4;
  background-color: #eee;
  width: 100%;
  padding-top:70px;
  padding-bottom:50px;
  color:black;
}

#footer{

  padding-top:50px;
  padding-bottom:37px;
  background-color:#333b42;
  color:#969494;
  text-align:center;
}

.tint-div{
  position:absolute;
  top:0;
   left:0;
   width:100%;
   height:100%;
   opacity: 0;

   background-repeat: no-repeat;
   background-size: cover;
   animation-name: fadeIn;
     animation-iteration-count: 1;
     animation-timing-function: ease-in-out;
     animation-delay:0s;
     animation-duration: 1s;
     animation-fill-mode:both;
 }

 #tint-div-home{

   background-image:  linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),url("../media/Alex2.jpg");
    background-position: right center;
 }

 #tint-div-about{


   background-image:  linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),url("../media/AlexChess.jpg");
    background-position: center center;
 }

 @keyframes fadeIn {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }

 #image-nav{

   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:110px;
   z-index: 1;
/*
   animation-duration: 1s;
   animation-delay: 0;
   animation-name: fadeIn;
   animation-fill-mode: both;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
   */

 }

 #image-nav-dark{

   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:110px;
   z-index: 1;
   background-color: #333b42;
 }


#tab-nav{

  display:flex;
  justify-content: flex-end;
  align-items: center;
  float:right;
  height:100%;
  width:100%;
  position: relative;
}

.tab-link{

  text-align: center;
  display: inline-block;
  font-size: 15px;
  color:#e8ebef;
  float: right;
  font-size: 17px;
  width: 110px;
  margin-right:15px;
}

.tab-link:hover{


  color: white;
  text-decoration:none;
  cursor: pointer;
  font-weight:bold;
}

.tab-link:active,.tab-link:visited{


  text-align: center;
  display: inline-block;
  font-size: 15px;
  color:#e8ebef;
  float: right;
  font-size: 17px;
  width: 110px;
  margin-right:15px;
}

#contact-tab{

  background-color:#e8ebef;
  color: rgba(0,0,0,0.75);
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
}

.active{

  color:white;
  font-weight: bold;
}



#logo-nav{

  display: flex;
  align-items: center;
  float:left;
  height:100%;
  width:10%;
}

#logo{

  height: 50px;
  width: 50px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  background-image: url("../media/prototype-logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#logo-2{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-image: url("../media/AlexLogoGray.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin:auto;
  margin-top:17px;
  margin-bottom:17px;
}
#header {


  width:100%;
  height: 100vh;
  min-height:500px;
  margin:0px;

}


#home-header{

  height:100%;
  width:100%;
  padding:0px;
}

#title-big{

  /*background-color:	rgb(100,157,187);
  border: 1px solid black;*/

  color: white;
  z-index: 1;
  opacity:1;

  animation-duration: 1s;
  animation-delay: .5s;
  animation-name: fadeInAndUp;
  animation-fill-mode: both;

}

@keyframes fadeInAndUp {

  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

#title-small{


  width:100%;
}

#splitter{
  border-color: white;
}

.cursive-hello{

  font-family: "Helvetica Neue", sans-serif;
  font-weight:100;
  font-style: italic;
  font-size: 30px;
}

.cursive-hello-animated{

  font-family: "Helvetica Neue", sans-serif;
  font-weight:100;
  font-style: italic;
  font-size: 30px;
  animation-duration: .75s;
  animation-delay: .25s;
  animation-name: fadeInAndUp;
  animation-fill-mode: both;
}

.name{

  font-weight:bold;
  font-size: 56px;
  text-shadow: 1px 1px black;
  letter-spacing: 5px;
  font-family: "Cabin";
}


.buttons{

  width:100%;
  height:100%;


}

#resume-buttons{

  animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:2s;
    animation-duration: .75s;
    animation-fill-mode:both;
}



.btn-cont{

  display:inline-block;
  width:50%;
}

#resume-btn-cont{

  width:75%;
}

 .main-btn, .main-btn:visited{
   background-color: transparent;
   text-decoration: none;
   text-align: center;
   padding:12px;
   padding-left: 20px;
   padding-right: 20px;
   border: 2px solid white;
   transition: all 0.25s linear;
   letter-spacing: 2px;
   vertical-align: center;
 }

 .img-btn{
   background-color: transparent;
   text-decoration: none;
   text-align: center;
   padding:10px;
   padding-left: 20px;
   padding-right: 20px;
   border: 2px solid white;
   transition: all 0.25s linear;
   margin:auto;
   opacity:0;
   z-index:5;
 }

 .img-see-more{

   transition: all .25s linear;
   color:white;
   width:100%;
 }

#work-btn{

  background-color:white;
  color: rgba(0,0,0,0.5);
}

#work-btn:hover{

  background-color: #e8ebef;
  border-color:
  #e8ebef;

}
#hire-btn{

  padding-left:28px;
  padding-right: 28px;
  color:white;
  text-decoration:none;
}

#hire-btn:hover{

  color: rgba(0,0,0,0.5);
  background-color:white;
}

#resume-btn{

  padding-left:28px;
  padding-right: 28px;
  color:white;
  text-decoration:none;
  margin-top:25px;
}

#resume-btn:hover{

  color: rgba(0,0,0,0.5);
  background-color:white;
}

#read-more-btn{

  margin-top:40px;
  border-color: #333b42;
  padding: 15px 40px 15px 40px;
}


.project-btn, .project-btn:visited{

    display: block;
    border-color: #333b42;
    margin:auto;
    padding:15px 40px 15px 40px;
    margin-top:15px;
    text-decoration:none;
    color:#333b42;
    width:248.11px;
    height:54px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
}


.project-btn:hover{

  text-decoration:none;
  cursor: pointer;
  color: #efefea;
  background-color:#333b42;
}

.see-more-a{


}

#blog-btn{

  border-color: #333b42;
  margin-top:25px;
  padding: 15px 40px 15px 40px;
  width:300px;
}

#see-more-proj-btn{

  margin-top:25px;
  width:270px;
}


#subtitle{

  font-weight:bold;
  font-size:2em;
  text-shadow: 1px 1px black;
}

.short-desc-h2{

  color: #333b42;

}
.short-desc-h2::before,.short-desc-h2::after{

  content: " ";
  margin-bottom:9px;
  height:2px;
  width:80px;
  display:inline-block;
  background-color: black;

}

#desc-h2-div-1{

  padding-bottom: 30px;
}
#desc-h2-div-2{

  padding-bottom: 60px;
}

#desc-h2-div-3{

  padding-bottom: 60px;
}

.short-desc-p{

  font-size:17px;
  color:black;
  line-height:150%;
}

#top-bar{

  display:flex;
  align-items: center;
  position:absolute;
  left:0;
  right:0;
  bottom:95%;
  transition: .5s ease;
  overflow: hidden;
  height:130px;
  z-index: 1;

}


#home-nav{

  background-color: white;
  overflow: hidden;
  width:100%;
  display: flex;
  height:100px;
  align-items: center;

  /*
  margin:0px;
  padding:0px;
  width:100%;
  border:0px;
  border-radius:0px;
  */

}

.top-bar-hover{

  bottom: 90%;
  height: 10%;
}

/*
#top-bar:hover #hover-div{

  opacity:0;

}
*/


#home-nav a{

  flex-basis:100%;
  display: flex;
  float:left;
  color: grey;
  text-decoration: none;
  font-size: 15px;
  height:100%;
  align-items: center;
  justify-content: center;
  /*padding: 10px 30px 10px 30px;*/
}


#hover-div{

  position: absolute;
  /*
  background-image: url("media/dots.png");
  background-repeat: repeat-x;
  */
  left:0;
  right:0;
  height:15px;
  width:100%;
  bottom:0%;
}
#white-sep-div{


}


#header-2 {

  width:100%;
  height: 80vh;
  margin:0px;

}

#about-header{

  width:100%;
  height:100%;
  padding:0px;
}

#who-h2{

  padding-bottom:20px;
}


.title{

  font-family: "Helvetica Neue", sans-serif;
  font-weight:100;
  font-size: 30px;
}

.dark-background{

  background-color: rgba(0,0,0,0.5);
}

#profile-img{

  background-image: url("../media/Alex_Profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 35px;

  animation-name: fadeInAndDown;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay:0s;
    animation-duration: 1s;
    animation-fill-mode:both;
}

#about-text-div{


}

.fade-up-title{

  animation-duration: .75s;
  animation-delay: 1.25s;
  animation-name: fadeInAndUp;
  animation-fill-mode: both;
}

@keyframes fadeInAndDown{

  0% {
      opacity: 0.5;
      transform: translateY(-20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


#resume-anim-div{

  animation-duration: .75s;
  animation-delay: 1.25s;
  animation-name: fadeInAndUp;
  animation-fill-mode: both;
}
.about-h2{

  padding-bottom:20px;
}

#fun-fact-div{

  margin:auto;
  /*border: 1px solid black;
  background-color:#c1bfa8;*/
  display: inline-block;
  text-align: left;
  padding:15px;
  padding-top:0px;
  padding-bottom:0px;
  font-size:17px;
}

#fun-fact-ul{

  padding-left:17px;
}
#fun-fact-ul li{

  padding-top:10px;

}

.img-container{

  display:inline-block;
  width:80%;
  margin:auto;
  font-size:0;
}



.grid-image{

  width:150px;
  height:50%;
  display:inline-block;
  padding:0px;
  margin:0px;
  object-fit: cover;
  filter: brightness(80
    %);
}

#fun-fact-container{

  display:inline-block;

}

#resume-skills{

  width:90%;
}

.skill-div{

  display: inline-block;
  font-size:17px;
  margin-top:10px;
  margin-right:20px;
  text-align: left;

}

.experience-cont{

  width:70%;
  margin:auto;
  padding-top:20px;
}

.experience-cont span{

  font-weight: 700;
}

.experience-cont em{


}

.experience-cont p{

  font-size:17px;
}

resume-anim-div{

  animation-duration: 1.5s;
  animation-delay: 1.25s;
  animation-name: fadeInAndUp;
  animation-fill-mode: both;
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index:2;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.ham-link{

  display:block;
  font-size:20px;
  color:#e8ebef;
  padding:20px;
}

.ham-link:hover{


  color: white;
  text-decoration:none;
  cursor: pointer;
  font-weight:bold;
}

.ham-link:active,.ham-link:visited{


  display:block;
  font-size:20px;
  color:#e8ebef;
  padding:20px;
}

#contact-ham-link{
  background-color:#e8ebef;
  color: rgba(0,0,0,0.75);
}

#ham-menu{

  display:none;
  position:absolute;
  top:100px;
  right:-300px;
  width:300px;
  height:300px;
  background-color:rgba(0,0,0,0.9);
  color:white;
  z-index:2;
  transition: .5s;
}


@media screen and (max-width:750px){

  .tab-link{
    display:none;
  }

  .hamburger{
    margin-right:20px;
    display:inline-block;
  }

  #ham-menu{
    display:block;
  }

  .small-width{

    width: 90%;
  }

  .short-desc-h2::before,.short-desc-h2::after{

    display:none;

  }

  .project-container{

    width:250px;
    height:250px;
  }

  .img-container{

      width: 90%;

  }

  .experience-cont{

    width: 90%;
  }

  .name{

    font-size:40px;

  }

  .cursive-hello{

    font-size:25px;
  }

  .cursive-hello-animated{

    font-size:25px;
  }

  button{

    font-size:12px;
  }

  #logo{

    left:20px;

  }
}

@media screen and (max-width:550px){

  .img-container{

    width:100%;
  }

  .fa{
      font-size:25px;
      padding:14px;
      width: auto;
      margin-left:3px;
      margin-right:3px;
  }

  .fa-facebook{

    padding-left:18px;
    padding-right:18px;
  }

  .skill-div{

    margin:0px;
  }

  #hire-btn,#work-btn,#resume-btn{

    font-size:12px;
    padding-left:12px;
    padding-right:12px;
  }

  #splitter{

    width:90%;
  }

  #resume-skills{

    width:100%;
  }


}
