<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
</head>


<body>


  <div class = "container-fluid">

    <div class="row">

      <div class="col-sm-12 text-center" id="about-row-1">

        <div id="image-nav-dark">

          <div id="tab-nav">

              <a href="base.html"><div id="logo"></div></a>

            <a class="tab-link" href="base.html">Home</a>

            <a class="tab-link active" href="about2.html">About me</a>

            <a class="tab-link">Projects</a>

            <a class="tab-link">Resume</a>

          </div>

        </div>

          <div id="profile-img" alt="profile picture">

          </div>

          <div id="about-text-div">


          <h2 class="short-desc-h2" id="who-h2"> So... Who is this guy? </h2>

          <div class="text-container text-justify">

            <p> I am a college freshman at the University of Austin, Texas, majoring in computer science (CS). Luckily for me, CS also happens
              to be my number one hobby. I have completed or ongoing projects in artificial intelligence, web development, mobile applications,
              and desktop programming software. I first started writing code at the beginning of high school, and it's grown to become a daily
              routine and one of my favorite activities. Whenever I feel stressed or overworked, I try to sit down and work on one
              of the many pet projects I'm working on. When I'm not writing code or doing school work I like to bike, play chess competitively,
              and grind video games with my friends.</p>

          </div>

        </div>

      </div>

    </div>

  </div>



  <div class="container-fluid">

    <div class="row">


      <div class="col-sm-12" id="footer">


        <div id="social-media">

            <a href="https://www.facebook.com/alex.wlezien" class="fa fa-facebook"> </a>

            <a href="https://www.youtube.com/channel/UCPIQDzQvLvM1nGDujgRwqng" class="fa fa-youtube"> </a>

            <a href="https://www.linkedin.com/in/alexander-wlezien-579871102/" class="fa fa-linkedin"> </a>

            <a href="https://plus.google.com/u/0/117805730885198181832" class="fa fa-google"> </a>

            <a href="https://github.com/zlex7" class="fa fa-github"> </a>

        </div>

        <div id="logo-2"></div>

        <p id="copyright">© Copyright 2017. All rights reserved.

        <br>
        <br>

        100% coded by <a href="#">Alexander Wlezien</a>, with the assistance of <a href="https://www.djangoproject.com/">Django</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, and <a href="http://fontawesome.io/">FontAwesome</a>

        </p>

      </div>

    </div>

  </div>

</body>


</html>
