<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'blog/scripts/script.js' %}"></script>
  -->
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">

	<script>

	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-103936418-1', 'auto');
	  ga('send', 'pageview');

	</script>

</head>


<body>



    <div class="container-fluid" style="padding:0px;">

      <div class="row vertical-align" id="header">

        <div class="col-sm-12 col-vert" id ="home-header">


          <div id="image-nav">

            <div id="tab-nav">

              <a href="base.html"><div id="logo"></div></a>

              <a class="tab-link active" href="base.html">Home</a>

              <a class="tab-link" href="about.html">About me</a>

              <a class="tab-link" href="https://github.com/zlex7" target="_blank">Projects</a>

              <a class="tab-link" href="resume.html">Resume</a>

              <a class="tab-link" id="contact-tab" href="mailto:a.wlezien@gmail.com" target="_blank">Contact</a>

              <div class="hamburger" onclick="hamAnim(this)">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
              </div>

            </div>

          </div>

          <div id="ham-menu">

            <a class="ham-link active" href="base.html">Home</a>

            <a class="ham-link" href="about.html">About me</a>

            <a class="ham-link" href="https://github.com/zlex7" target="_blank">Projects</a>

            <a class="ham-link" href="resume.html">Resume</a>

            <a class="ham-link" id="contact-ham-link" href="mailto:a.wlezien@gmail.com" target="_blank">Contact</a>

          </div>


          <div class="tint-div" id="tint-div-home">

          </div>

            <div class="center-block text-center" id="title-big" style="">
              <div id="title-small">

                <h6 class="cursive-hello"> Hi, my name is </h6>

                <b><h2 class="name">Alexander Wlezien</h2></b>

                <hr id = "splitter">

                <div class="buttons">


                  <div class="btn-cont">
                    <a href="resume.html">
                    <button class="main-btn" id="work-btn">
                    Resume
                    </button>
                    </a>
                  </div><div class="btn-cont">
                    <a href="https://github.com/zlex7">
                    <button class="main-btn" id="hire-btn">
                      Github <!-- what's on tap -->
                    </button>
                    </a>
                  </div>


                </div>

              </div>
            </div>

      </div>

      </div>

    </div>


<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12 text-center" id="home-row-1">

      <div class="text-container small-width">
        <div id="desc-h2-div-1">  <h2 style="display:inline;" class="short-desc-h2"> I am a CS student and passionate programmer </h2> </div>

        <p class="short-desc-p"> Hi, I am a freshman computer science major at the University of Texas, Austin, who loves to
                        program and play board games, especially chess. My current gigs include a web development job with a
                        local Austin math academy, as well as a Winter-Spring 2018 internship with SpyCloud @ spycloud.com</p>

        <a class="main-btn project-btn" id="read-more-btn" href="about.html">More about me</a>

      </div>

    </div>

  </div>


</div>



<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12 text-center" id="home-row-2">


        <div id="desc-h2-div-2">  <h2 style="display:inline;" class="short-desc-h2"> Projects </h2> </div>


        <div class="project-container" id="proj-cont-1">

          <a href="https://github.com/zlex7/JTextEdit" target="_blank">

            <div class="tint-div-img">

              <!--
              <button class="img-btn">

                See more

              </button>
            -->
              <h5 class="img-see-more"> Click to see more </h5>

            </div>
          </a>

        </div>

        <div class="project-container" id="proj-cont-2">

            <a href="https://github.com/zlex7/comebackking" target="_blank">

            <div class="tint-div-img">

              <!--
              <button class="img-btn">

                See more

              </button>
            -->
            <h5 class="img-see-more"> Click to see more </h5>

            </div>

            </a>


        </div>

        <div class="project-container" id="proj-cont-3">

            <a href="https://github.com/zlex7/HeatIsland" target="_blank">

              <div class="tint-div-img">

              <!--
              <button class="img-btn">

                See more

              </button>
            -->

              <h5 class="img-see-more"> Click to see more </h5>

              </div>

            </a>


        </div>

        <a href="https://github.com/zlex7" class="main-btn project-btn" id="see-more-proj-btn">

          See more projects

        </a>


    </div>

  </div>


</div>

<!--
<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12 text-center" id="home-row-3">


        <div id="desc-h2-div-3" >  <h2 style="display:inline;" class="short-desc-h2"> My recent blog posts </h2> </div>


        <div class="blog-container" id="blog-cont-1">


            <div class="tint-div-img">


              <h5 class="img-see-more"> Click to see more </h5>

            </div>


        </div>

        <div class="blog-container" id="blog-cont-2">

          <div class="tint-div-img">


            <h5 class="img-see-more"> Click to see more </h5>

          </div>


        </div>

        <div class="blog-container" id="blog-cont-3">

            <div class="tint-div-img">

              <h3>
              <h5 class="img-see-more"> Click to see more </h5>

            </div>

        </div>


        <a class="main-btn project-btn" id="blog-btn">Read more blog posts</a>


    </div>

  </div>


</div>

-->
<div class="container-fluid">

  <div class="row">


    <div class="col-sm-12" id="footer">


      <div id="social-media">

          <a href="https://www.facebook.com/alex.wlezien" class="fa fa-facebook" target="_blank"> </a>

          <a href="https://www.youtube.com/channel/UCPIQDzQvLvM1nGDujgRwqng" class="fa fa-youtube" target="_blank"> </a>

          <a href="https://www.linkedin.com/in/alexander-wlezien-579871102/" class="fa fa-linkedin" target="_blank"> </a>

          <a href="https://plus.google.com/u/0/117805730885198181832" class="fa fa-google" target="_blank"> </a>

          <a href="https://github.com/zlex7" class="fa fa-github" target="_blank"> </a>

      </div>

      <a href="base.html">

      <div id="logo-2"></div>

      </a>

      <p id="copyright">© Copyright 2017. All rights reserved.

      <br>
      <br>

      100% coded by <a href="base.html">Alexander Wlezien</a>, with the assistance of <a href="https://www.djangoproject.com/">Django</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, and <a href="http://fontawesome.io/">FontAwesome</a>

      </p>

    </div>

  </div>

</div>


</body>


</html>
