<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
</head>


<body>


<div class="container-fluid" style="padding:0px">

  <div class="row vertical-align" id="header-2">

    <div class="col-sm-12 col-vert" id ="about-header">


      <div id="image-nav">

        <div id="tab-nav">

            <a href="base.html"><div id="logo"></div></a>

          <a class="tab-link" href="base.html">Home</a>

          <a class="tab-link" href="about.html">About me</a>

          <a class="tab-link" href="https://github.com/zlex7" target="_blank">Projects</a>

          <a class="tab-link active" href="resume.html" download="resume.html">Resume</a>

          <a class="tab-link" id="contact-tab" href="mailto:a.wlezien@gmail.com" target="_blank">Contact</a>

          <div class="hamburger" onclick="hamAnim(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
          </div>

        </div>

      </div>

      <div id="ham-menu">

        <a class="ham-link active" href="base.html">Home</a>

        <a class="ham-link" href="about.html">About me</a>

        <a class="ham-link" href="https://github.com/zlex7" target="_blank">Projects</a>

        <a class="ham-link" href="resume.html">Resume</a>

        <a class="ham-link" id="contact-ham-link" href="mailto:a.wlezien@gmail.com" target="_blank">Contact</a>

      </div>

      <div class="tint-div" id="tint-div-about">

      </div>

      <div class="center-block text-center" id="title-big" style="">
        <div id="title-small">

          <h2 class="cursive-hello-animated"> Have a quick look at</h2>



          <b><h2 class="name fade-up-title">My experiences</h2></b>


          <div class="buttons" id="resume-buttons">

            <div class="btn-cont" id="resume-btn-cont">

              <a href="../media/resume 7-21-2017.pdf">
              <button class="main-btn" id="resume-btn">
              Download resume
              </button>
              </a>

            </div>

        </div>


        </div>
      </div>

    </div>

  </div>

</div>




<!--
  <p class="short-desc-p"> I am a college freshman at the University of Austin, Texas, majoring in computer science (CS). Luckily for me, CS also happens
    to be my number one hobby. I have completed or ongoing projects in artificial intelligence, web development, mobile applications,
    and desktop programming software. I first started writing code at the beginning of high school, and it's grown to become a daily
    routine and one of my favorite activities. Whenever I feel stressed or overworked, I try to sit down and work on one
    of the many pet projects I'm working on. When I'm not writing code or doing school work I like to bike, play chess competitively,
    and grind video games with my friends.</p>-->

  <div class = "container-fluid">

    <div class="row">

      <div class="col-sm-12 text-center" id="about-row-2">



          <div class="text-container" id="resume-skills">

            <h2 class="short-desc-h2 about-h2"> Skills </h2>


            <div id = "ul-container">

            <div class="skill-div">

              <ul class="">

                  <li> C/C++ </li>

                  <li> Java </li>

                  <li> Python </li>

                  <li> Ruby </li>

                  <li> Bash </li>

              </ul>

            </div>

            <div class="skill-div">

              <ul class="">

                  <li> HTML/CSS </li>

                  <li> Javascript </li>

                  <li> JQuery </li>

                  <li> Bootstrap </li>

                  <li> Sass </li>

              </ul>

            </div>

            <div class="skill-div">

              <ul class="">

                  <li> Android/Java </li>

                  <li> Git/VCS </li>

                  <li> Responsive web design </li>

                  <li> Backend frameworks </li>

                  <li> Spark/Django/Flask </li>

              </ul>

            </div>


          </div>

          </div>

      </div>

    </div>

  </div>



  <div class = "container-fluid">

    <div class="row">

      <div class="col-sm-12 text-center" id="about-row-2">

        <div class="text-container">

        <h2 class="short-desc-h2 about-h2"> Experiences </h2>

        <div class="experience-cont text-left">

          <span class="experience-title"> Texas DPS - Cyber security intern </span>

          <br>

          <em>June 11, 2017 - August 11, 2017</em>

          <p>
            At the Texas Department of Public Safety (DPS), I worked in the cyber security division handling standard phishing and malware cases,
            as well as writing python scripts to automate much of the work in the office, such as scanning computers for certain malicious files,
            and analyzing malicious javascript files. In addition, I worked on implementing The Hive's (a security management system) API into our
            daily workflow to increase efficiency and automate many of the tasks. Finally, I helped the network security and dev ops division migrate
            firewalls from Palo Altos to Fortimails, as well as update the email security appliances used to protect the DPS.
          </p>
        </div>

        <div class="experience-cont text-left">
          <span class="experience-title"> Austin Spark League </span>

          <br>

          <em>July 2015 - August 2015</em>

          <p>
            The Austin Spark League (ASL) was one of my first experiences working on a group programming project. I learned how to plan project workflow
            with my teammates, as well as effectively use git and github to simultaneously work on our projects. ASL focused on creating apps for the Pebble
            smartwatch, one of the first popular wrist watches that had capabilities similar to smartphones. The apps I developed for ASL include a visual
            probability simulator and an app that would supply random jokes,insults, and compliments.
          </p>
        </div>

        <div class="experience-cont text-left">

          <span class="experience-title"> Code@TACC </span>

          <br>

          <em>June 2015 - July 2015</em>

          <p>
            One of my activities during my sophomore summer was attending a camp at the Texas Advanced Computing Center (TACC) at the Pickle
            campus of UT-Austin. There I had the chance to learn a lot about how electronics and computers really work, as well as experiment
            and program a raspberry pi. As part of the campI also got to see and use some of the most cutting edge technology, such as the UT
            sponsored super computer, and an experimental virtual reality show for the oculus rift.
          </p>

        </div>

      </div>

      </div>
    </div>

  </div>

  </div>

</div>


  <div class="container-fluid">

    <div class="row">


      <div class="col-sm-12" id="footer">


        <div id="social-media">

            <a href="https://www.facebook.com/alex.wlezien" class="fa fa-facebook" target="_blank"> </a>

            <a href="https://www.youtube.com/channel/UCPIQDzQvLvM1nGDujgRwqng" class="fa fa-youtube" target="_blank"> </a>

            <a href="https://www.linkedin.com/in/alexander-wlezien-579871102/" class="fa fa-linkedin" target="_blank"> </a>

            <a href="https://plus.google.com/u/0/117805730885198181832" class="fa fa-google" target="_blank"> </a>

            <a href="https://github.com/zlex7" class="fa fa-github" target="_blank"> </a>

        </div>

        <div id="logo-2"></div>

        <p id="copyright">© Copyright 2017. All rights reserved.

        <br>
        <br>

        100% coded by <a href="#">Alexander Wlezien</a>, with the assistance of <a href="https://www.djangoproject.com/">Django</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, and <a href="http://fontawesome.io/">FontAwesome</a>

        </p>

      </div>

    </div>

  </div>

</body>


</html>
